@import url("https://fonts.cdnfonts.com/css/clash-display?styles=106288,106287,106289,106284");
@import url("https://fonts.cdnfonts.com/css/satoshi?styles=135009,135007,135002");
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 249, 249, 0.15);
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
  padding: 1rem;
  border: none;
  margin: 6%;
  cursor: pointer;
}
.btn.btn-primary {
  color: #ffffff;
  width: 90%;
}
.btn.btn-secondary {
  background-color: #f9f9f9;
  color: #2a254b;
  align-self: center;
}
.btn.btn-tertiary {
  color: #2a254b;
  background-color: #f9f9f9;
  align-self: center;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.sign-up-container label {
  position: relative;
}
.sign-up-container label input[type=email] {
  border: none;
  width: 200px;
  height: 50px;
  padding: 0 4rem;
}
.sign-up-container label #email::-moz-placeholder {
  color: #ffffff;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
}
.sign-up-container label #email::placeholder {
  color: #ffffff;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
}
.sign-up-container label .signup-btn {
  position: absolute;
  top: 0;
  right: -3rem;
  transform: translate(-50%);
  padding: 14px;
  font-family: "Satoshi", sans-serif;
  color: #2a254b;
  letter-spacing: 2px;
  font-size: 1rem;
  border: none;
  align-self: center;
  cursor: pointer;
}
.sign-up-container.sign-up-primary label input[type=email] {
  background-color: #f9f9f9;
  color: #2a254b;
}
.sign-up-container.sign-up-primary label #email::-moz-placeholder {
  color: #2a254b;
}
.sign-up-container.sign-up-primary label #email::placeholder {
  color: #2a254b;
}
.sign-up-container.sign-up-primary label .signup-btn {
  background-color: #2a254b;
  color: #ffffff;
}
.sign-up-container.sign-up-secondary label input[type=email] {
  background: rgba(255, 255, 255, 0.15);
}
.sign-up-container.sign-up-secondary label #email::-moz-placeholder {
  color: #ffffff;
}
.sign-up-container.sign-up-secondary label #email::placeholder {
  color: #ffffff;
}
.sign-up-container.sign-up-secondary label .signup-btn {
  background-color: #ffffff;
  color: #2a254b;
}

body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
  line-height: 140%;
}
body header .nav {
  display: flex;
  padding: 26px 25px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body header .nav .logo {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: "Clash Display", sans-serif;
  color: #22202e;
  text-decoration: none;
}
body header .nav .nav-icons {
  display: flex;
  margin-left: auto;
  padding-right: 1rem;
  gap: 1rem;
  color: #2a254b;
}
@media screen and (max-width: 570px) {
  body header .nav .desktop-only {
    display: none;
  }
  body header .nav .nav-links {
    display: none;
  }
}
@media screen and (min-width: 569px) {
  body header .nav .mobile-only {
    display: none;
  }
}
body header .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a254b;
  color: #ffffff;
  padding: 1rem 2rem;
}
@media screen and (min-width: 571px) {
  body header .hero-section {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
}
body header .hero-section .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
@media screen and (min-width: 570px) {
  body header .hero-section .hero-text {
    padding: 3.75rem;
  }
}
body header .hero-section .hero-text h2 {
  font-family: "Clash Display", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 400;
}
@media screen and (min-width: 570px) {
  body header .hero-section .hero-text h2 {
    order: 1;
  }
}
body header .hero-section .hero-text h3 {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 400;
  padding-top: 4rem;
}
@media screen and (min-width: 570px) {
  body header .hero-section .hero-text h3 {
    order: 3;
    padding-top: 8rem;
  }
}
@media screen and (min-width: 570px) {
  body header .hero-section .hero-text .btn-primary {
    width: 30%;
    order: 2;
    margin: 2.5rem 0;
  }
}
body header .hero-section .hero-img {
  width: 40%;
  flex-grow: 1;
  background-color: aliceblue;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .hero-section .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 570px) {
  body header .hero-section .hero-img {
    display: none;
  }
}
@media screen and (min-width: 571px) {
  body header .hero-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 3.7rem 5rem;
  }
}
body main .feature-section {
  padding: 3rem 2rem;
  color: #2a254b;
}
@media screen and (min-width: 571px) {
  body main .feature-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
body main .feature-section h4 {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 2rem;
}
@media screen and (min-width: 571px) {
  body main .feature-section h4 {
    display: none;
  }
}
body main .feature-section .feature-block {
  margin: 2.25rem 2rem;
  font-weight: 400;
}
body main .feature-section .feature-block div a i {
  font-size: 1.5rem;
}
body main .feature-section .feature-block div p:nth-child(2) {
  font-family: "Clash Display", sans-serif;
  color: #2a254b;
  font-size: 1rem;
  line-height: 1.3rem;
}
body main .feature-section .feature-block div p {
  font-family: "Satoshi", sans-serif;
  font-size: 0.87rem;
  line-height: 1.3rem;
  font-weight: 400;
}
body main .listings-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .listings-section1 h3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 2rem;
  font-family: "Clash Display", sans-serif;
}
body main .listings-section1 .list-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 571px) {
  body main .listings-section1 .list-container {
    flex-direction: row;
  }
}
body main .listings-section1 .list-container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 571px) {
  body main .listings-section1 .list-container .row {
    justify-content: space-between;
  }
}
body main .listings-section1 .list-container .row .product-card {
  padding: 0.7rem;
  flex-grow: 1;
}
body main .listings-section1 .list-container .row .product-card .product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #2a254b;
}
body main .listings-section1 .list-container .row .product-card .product-details h4 {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 0;
}
body main .listings-section1 .list-container .row .product-card .product-details a {
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 150%;
}
body main .listings-section1 .list-container .row .product-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 571px) {
  body main .listings-section1 .list-container .row .product-card img {
    height: 370px;
  }
}
body main .listings-section2 {
  padding: 1rem;
}
@media screen and (max-width: 571px) {
  body main .listings-section2 {
    display: none;
  }
}
body main .listings-section2 h3 {
  font-weight: 400;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}
body main .listings-section2 .list-container {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}
body main .listings-section2 .btn-secondary {
  margin: 2.6rem auto 3rem auto;
  width: 20%;
  background-color: rgb(243, 243, 243);
}
body main .signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #f9f9f9;
}
@media screen and (min-width: 571px) {
  body main .signup-section {
    padding: 2rem 0;
  }
}
body main .signup-section .sign-up-container {
  background-color: #ffffff;
  padding: 0rem 1rem;
}
@media screen and (min-width: 571px) {
  body main .signup-section .sign-up-container {
    padding: 1rem 17rem;
  }
}
body main .signup-section .sign-up-container .text-content {
  text-align: center;
  color: #2a254b;
  background-color: #ffffff;
}
body main .signup-section .sign-up-container .text-content h4 {
  font-family: "Clash Display", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 571px) {
  body main .signup-section .sign-up-container .text-content h4 {
    font-size: 3rem;
  }
}
body main .signup-section .sign-up-container .text-content p {
  font-family: "Satoshi", sans-serif;
  font-size: 0.8rem;
}
@media screen and (min-width: 571px) {
  body main .signup-section .sign-up-container .text-content p {
    font-size: 1rem;
  }
}
body main .signup-section .sign-up-container .email-section form {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .signup-section .sign-up-container .email-section form .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main .signup-section .sign-up-container .email-section form .input-wrapper input {
  text-align: start;
  font-family: "Satoshi", sans-serif;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 3rem;
  background-color: #f9f9f9;
  border: none;
}
body main .signup-section .sign-up-container .email-section form .input-wrapper .email-btn {
  position: absolute;
  right: 0;
  width: 33%;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #2a254b;
  padding: 1rem 1rem;
  border: none;
}
body main .get-in-touch-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 571px) {
  body main .get-in-touch-section {
    flex-direction: row;
  }
}
@media screen and (min-width: 571px) {
  body main .get-in-touch-section .get-in-touch-text {
    width: 50%;
    padding: 4.5rem 5.25rem;
  }
}
body main .get-in-touch-section .get-in-touch-text h4 {
  font-family: "Clash Display", sans-serif;
  font-size: 1.25rem;
  color: #2a254b;
  font-weight: 400;
  padding: 1.5rem 1.2rem;
}
@media screen and (min-width: 571px) {
  body main .get-in-touch-section .get-in-touch-text h4 {
    font-size: 1.5rem;
    line-height: 140%;
  }
}
body main .get-in-touch-section .get-in-touch-text p {
  padding: 0rem 1.2rem;
  font-size: 0.8rem;
  line-height: 150%;
}
@media screen and (min-width: 571px) {
  body main .get-in-touch-section .get-in-touch-text p {
    font-size: 1rem;
  }
}
body main .get-in-touch-section .get-in-touch-text button {
  margin-top: 4rem;
  width: 90%;
}
@media screen and (min-width: 571px) {
  body main .get-in-touch-section .get-in-touch-text button {
    width: 30%;
  }
}
body main .get-in-touch-section img {
  width: 100%;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 571px) {
  body main .get-in-touch-section img {
    width: 50%;
  }
}
body footer {
  background-color: #2a254b;
}
@media screen and (min-width: 571px) {
  body footer .footer-section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
body footer .footer-section1 .footer-list {
  display: inline-flex;
  padding: 20px;
}
body footer .footer-section1 .footer-list ul li:first-child a {
  font-size: 1rem;
  font-family: "Clash Display", sans-serif;
}
body footer .footer-section1 .footer-list ul li {
  list-style-type: none;
  padding: 0.4rem;
}
body footer .footer-section1 .footer-list ul li a {
  text-decoration: none;
  color: rgb(214, 214, 214);
  font-size: 0.8rem;
  font-family: "Satoshi", sans-serif;
  text-transform: capitalize;
}
body footer .footer-section1 .join-us-section {
  color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}
@media screen and (min-width: 571px) {
  body footer .footer-section1 .join-us-section {
    width: 50%;
  }
}
body footer .footer-section1 .join-us-section h5 {
  font-size: 1rem;
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (min-width: 571px) {
  body footer .footer-section1 .join-us-section .sign-up-container label input[type=email] {
    width: 300px;
    height: 50px;
    padding: 0 6rem;
  }
}
body footer .footer-section2 .solid-line {
  border-top: 1px solid #4e4d93;
  width: 70%;
}
@media screen and (min-width: 571px) {
  body footer .footer-section2 .solid-line {
    width: 80%;
  }
}
body footer .footer-section2 h6 {
  text-align: center;
  font-family: "Satoshi", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 1rem 0 1rem 0;
}/*# sourceMappingURL=style.css.map */