@import url("https://fonts.cdnfonts.com/css/clash-display?styles=106288,106287,106289,106284");
@import url("https://fonts.cdnfonts.com/css/satoshi?styles=135009,135007,135002");
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 249, 249, 0.15);
  width: 70%;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
  padding: 1rem;
  border: none;
  margin: 6%;
}

body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
  line-height: 140%;
}
body header .nav {
  display: flex;
  padding: 26px 25px;
  align-items: center;
}
body header .nav .logo {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: "Clash Display", sans-serif;
  color: #22202e;
  text-decoration: none;
}
body header .nav .nav-icons {
  display: flex;
  margin-left: auto;
  padding-right: 1rem;
  gap: 1.4rem;
  color: #2a254b;
}
body header .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a254b;
  color: #ffffff;
  padding: 1rem 2rem;
}
body header .hero-section h2 {
  font-family: "Clash Display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
body header .hero-section h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
body main .feature-section {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #2a254b;
}
body main .feature-section h4 {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
body main .feature-section .feature-block {
  margin-top: 2.25rem;
  font-weight: 400;
}
body main .feature-section .feature-block div a i {
  font-size: 1.5rem;
}
body main .feature-section .feature-block div p:nth-child(2) {
  font-family: "Clash Display", sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
}
body main .feature-section .feature-block div p {
  font-family: "Satoshi", sans-serif;
  font-size: 0.87rem;
  line-height: 1.3rem;
  font-weight: 400;
}
body main .listings-section1 .list-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
body main .listings-section1 .list-container h3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
body main .listings-section1 .list-container .row {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
body main .listings-section1 .list-container .row .product-card {
  padding: 0.7rem;
}
body main .listings-section1 .list-container .row .product-card .product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #2a254b;
}
body main .listings-section1 .list-container .row .product-card .product-details h4 {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 0;
}
body main .listings-section1 .list-container .row .product-card .product-details a {
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 150%;
}
body main .listings-section1 .list-container .row .product-card img {
  width: 100%;
  height: 200px;
}
body main .listings-section1 .list-container .btn {
  background-color: #f9f9f9;
  color: #2a254b;
  width: 80%;
  padding-top: 1rem;
}
body main .signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
body main .signup-section .text-content {
  justify-content: center;
  color: #2a254b;
}
body main .signup-section .text-content h4 {
  font-family: "Clash Display", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
body main .signup-section .text-content p {
  font-family: "Satoshi", sans-serif;
  font-size: 0.8rem;
}
body main .signup-section .email-section form {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .signup-section .email-section form .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main .signup-section .email-section form .input-wrapper input {
  text-align: start;
  font-family: "Satoshi", sans-serif;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 3rem;
  background-color: #f9f9f9;
  border: none;
}
body main .signup-section .email-section form .input-wrapper .email-btn {
  position: absolute;
  right: 0;
  width: 33%;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #2a254b;
  padding: 1rem 1rem;
  border: none;
}/*# sourceMappingURL=style.css.map */