.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 249, 249, 0.15);
  width: 80%;
  font-family: $font-satoshi;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: $white;
  padding: 1rem;
  border: none;
  margin: 6%;

  &.btn-primary {
    color: $white;
  }

  &.btn-secondary {
    background-color: $light-grey;
    color: $dark-purple;
    align-self: center;
  }

  &.btn-tertiary {
    color: $dark-purple;
    background-color: $light-grey;
    align-self: center;
  }
}
