.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 249, 249, 0.15);
  width: 70%;
  font-family: $font-satoshi;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: $white;
  padding: 1rem;
  border: none;
  margin: 6%;
}
