// colors
$black: #22202e;
$mid-purple: #726e8d;
$dark-black: #000000;
$dark-purple: #2a254b;
$white: #ffffff;
$light-grey: #f9f9f9;

//fonts
$font-satoshi: "Satoshi", sans-serif;
$font-clash: "Clash Display", sans-serif;
